<h1>What I need To Learn</h1>
<app-user-profile></app-user-profile>

<router-outlet></router-outlet>



<mat-accordion>
  <mat-expansion-panel hideToggle (opened)="step = 0;getKnownWords()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Parse some text</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="example-full-width">
      <mat-label>Insert text</mat-label>
      <textarea matInput [formControl]="textControl"></textarea>
    </mat-form-field>
    <div>
      <button (click)="parseClicked()" mat-raised-button color="primary">Parse</button>
      <div *ngIf="authenticationService.user$ | async">
        <div *ngIf="parseRes?.uniqueWordsRes?.length">
          <mat-form-field class="example-full-width">
            <mat-label>New book title</mat-label>
            <input matInput [formControl]="titleControl" />
          </mat-form-field>
          <button (click)="saveBook()" mat-raised-button color="primary">Save as Book</button>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <ng-container *ngIf="authenticationService.user$ | async">
    <mat-expansion-panel hideToggle (opened)="step=1;getBooks()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>My books</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let book of books; let i = index" class="book-row">
        <strong>{{book.payload.doc.data().title}}</strong><button type="button" (click)="readBook(i)" mat-raised-button color="primary">Read</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle (opened)="step=2;getKnownWords()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Known words</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let word of knownWords" class="word-row">
        <strong>{{ word.payload.doc.data().text }} </strong>
        <button type="button" (click)="removeFromAlreadyKnow(word)" mat-raised-button color="accent">I don't know this word</button>
      </div>
    </mat-expansion-panel>
  </ng-container>

  <ng-container *ngIf="wordsCount">
    <h2>Words count - {{wordsCount}} + {{parseRes?.knownWords?.length || 0}}</h2>

    <mat-expansion-panel [expanded]="step === 18" hideToggle (opened)="step=18">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Unique Words</h2>
          <p><strong>Words count</strong> - {{parseRes.uniqueWordsRes.length}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngIf="parseRes.uniqueWordsRes && parseRes.uniqueWordsRes.length">
        <table>
          <ng-container *ngFor="let p of parseRes.uniqueWordsRes">
            <tr *ngIf="p.show" class="new-word-row">
              <td>{{p.getWord().getText()}}</td>
              <td style="padding: 0 24px">{{p.getCount()}}</td>
              <td><button type="button" (click)="addToAlreadyKnow($event, p)" mat-raised-button color="accent">I know this word</button></td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="step === 19" hideToggle (opened)="step=19">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Known Words</h2>
          <p><strong>Words count</strong> - {{parseRes?.knownWords?.length}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-container *ngIf="parseRes.knownWords && parseRes.knownWords.length">
        <table>
          <ng-container *ngFor="let p of parseRes.knownWords">
            <tr *ngIf="p.show" class="new-word-row">
              <td>{{p.getWord().getText()}}</td>
              <td style="padding: 0 24px">{{p.getCount()}}</td>
              <td><button type="button" (click)="removeFromAlreadyKnow(p)" mat-raised-button color="accent">I don't know this word</button></td>
            </tr>
        </ng-container>
        </table>
      </ng-container>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
