<h1>What I need To Learn</h1>
<app-user-profile></app-user-profile>

<router-outlet></router-outlet>

<mat-accordion>
    <mat-expansion-panel
        hideToggle
        (opened)="step = STEPS.parseText; loadKnownWords()"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>Parse some text</h2>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-button-toggle-group name="parseType" [formControl]="parseType">
            <mat-button-toggle value="any">Any text</mat-button-toggle>
            <mat-button-toggle value="timedtext"
                >Youtube timed text JSON</mat-button-toggle
            >
        </mat-button-toggle-group>

        <div *ngIf="parseType.value == 'timedtext'">
            <mat-form-field class="example-full-width">
                <mat-label>From timestamp</mat-label>
                <input matInput [formControl]="fromTimestampControl" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>To timestamp</mat-label>
                <input matInput [formControl]="toTimestampControl" />
            </mat-form-field>
        </div>

        <div>
            <mat-checkbox
                [formControl]="cleanRootDoublesControl"
                class="example-full-width"
            >
                Clean root doubles
            </mat-checkbox>
        </div>

        <mat-form-field class="example-full-width">
            <mat-label>Insert text</mat-label>
            <textarea matInput [formControl]="textControl"></textarea>
        </mat-form-field>

        <div>
            <button (click)="startParsing()" mat-raised-button color="primary">
                Parse
            </button>
        </div>
    </mat-expansion-panel>

    <ng-container *ngIf="authenticationService.user$ | async">
        <mat-expansion-panel
            *ngIf="parseRes?.uniqueWordsRes"
            hideToggle
            (opened)="step = STEPS.saveBook"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Save List</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngIf="parseRes?.uniqueWordsRes?.length">
                <mat-form-field class="example-full-width">
                    <mat-label>New book title</mat-label>
                    <input matInput [formControl]="titleControl" />
                </mat-form-field>

                <button (click)="saveBook()" mat-raised-button color="primary">
                    Save as Book
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel
            hideToggle
            (opened)="step = STEPS.savedBooks; loadBooks()"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>My books</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div
                *ngFor="let book of savedBooks; let i = index"
                class="book-row"
            >
                <strong>{{ book.payload.doc.data().title }}</strong
                ><button
                    type="button"
                    (click)="openBook(i)"
                    mat-raised-button
                    color="primary"
                >
                    Read
                </button>
            </div>
        </mat-expansion-panel>

        <mat-expansion-panel
            hideToggle
            (opened)="step = STEPS.knownWords; loadKnownWords()"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Known words - {{ knownWords?.length }}</h2>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let word of knownWords" class="word-row">
                <strong>{{ word.payload.doc.data().text }} </strong>
                <button
                    type="button"
                    (click)="removeFromAlreadyKnow($event, word)"
                    mat-raised-button
                    color="accent"
                >
                    I don't know this word
                </button>
            </div>
        </mat-expansion-panel>
    </ng-container>

    <ng-container
        *ngIf="parseRes?.uniqueWordsRes?.length || parseRes?.knownWords?.length"
    >
        <h2>
            Words count - {{ parseRes?.uniqueWordsRes?.length }} +
            {{ parseRes?.knownWords?.length || 0 }}
        </h2>

        <mat-expansion-panel
            [expanded]="step === STEPS.parsedWords_Unique"
            hideToggle
            (opened)="step = STEPS.parsedWords_Unique"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Unique Words</h2>
                    <p>
                        <strong>Words count</strong> -
                        {{ parseRes.uniqueWordsRes.length }}
                    </p>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container
                *ngIf="
                    parseRes.uniqueWordsRes && parseRes.uniqueWordsRes.length
                "
            >
                <table>
                    <ng-container *ngFor="let p of parseRes.uniqueWordsRes">
                        <tr *ngIf="p.show" class="new-word-row">
                            <td>{{ p.getWord().getText() }}</td>
                            <td style="padding: 0 24px">{{ p.getCount() }}</td>
                            <td>
                                <button
                                    type="button"
                                    (click)="addToAlreadyKnow($event, p)"
                                    mat-raised-button
                                    color="accent"
                                >
                                    I know this word
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </ng-container>
        </mat-expansion-panel>
        <mat-expansion-panel
            [expanded]="step === STEPS.parsedWords_known"
            hideToggle
            (opened)="step = STEPS.parsedWords_known"
        >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h2>Known Words</h2>
                    <p>
                        <strong>Words count</strong> -
                        {{ parseRes.knownWords.length }}
                    </p>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container
                *ngIf="parseRes.knownWords && parseRes.knownWords.length"
            >
                <table>
                    <ng-container *ngFor="let p of parseRes.knownWords">
                        <tr *ngIf="p.show" class="new-word-row">
                            <td>{{ p.getWord().getText() }}</td>
                            <td style="padding: 0 24px">{{ p.getCount() }}</td>
                            <td>
                                <button
                                    type="button"
                                    (click)="removeFromAlreadyKnow($event, p)"
                                    mat-raised-button
                                    color="accent"
                                >
                                    I don't know this word
                                </button>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </ng-container>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>
